header a{
    text-decoration: none;
    color:inherit;
    margin: 0px 10px 0px 10px;
}
header{
    background-color: #ccd5eb;
    padding: 10px 40px 10px 40px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
}
.container_img img{
    width: 48px;
}
header .container_img{
    width: 48%;
}
body{
    background-color: #ccd5eb;
    color: #333333;
    margin: 0;
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
}
footer{
    background-color: #ccd5eb;
    padding: 10px 40px 10px 40px;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    height: 48px;
}
.personal_img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.personal_img img{
    min-width: 30%;
}
.acivment_link_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.acivment_link_container a img{
    width: 85px;
    margin-right: 20px;
}
.section-title::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 20px; 
    background-color: black;
    margin-right: 8px; 
}
.title_with_hor_line{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.year{
    font-size: 52px;
}
.line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    margin: 2px;
}
.describe_personal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sertificates{
    margin: 20px 0px 20px 0px;
    display: flex;
    overflow-x: scroll;
}
.sertificates img{
    width: 500px;
}
footer p{
    margin: 10px;
}
#contacts{
    margin: 0;
}
.year{
    font-weight: bold;
}
.basic_info{
    padding: 20px 40px 50px 40px;
    background-color: white;
}
.achievement,.orginize_work{
    padding: 50px 40px 50px 40px;
}
.orginize_work{
    background-color: white;
}